{% load static %}

<div class="site-section">
   <div class="container">
      <div class="row">
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa-solid fa-cart-shopping"></span>
               <h3>Buy Products</h3>
               <p>Allows users to browse, bid on, and purchase auction items, with secure payment and transaction tracking.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa-solid fa-money-check-dollar"></span>
               <h3>Sell Products</h3>
               <p>Enables users to list items for auction by providing descriptions, photos, and setting bid parameters, with management tools for active listings.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa fa-gavel"></span>
               <h3>Submit a Bid</h3>
               <p>Allows users to place bids on auction items in real-time, with immediate notifications if they are outbid.</p>
            </div>
         </div>

         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service last">
               <span class="fa-solid fa-trophy"></span>
               <h3>Win a Bid</h3>
               <p>Notifies users when they have successfully won an auction, completing the transaction process.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa-solid fa-magnifying-glass"></span>
               <h3>Search and Filter Options</h3>
               <p>Advanced search functionality allowing users to filter items by category, price range, auction end time, and more.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa-solid fa-cart-shopping"></span>
               <h3>Watchlist</h3>
               <p> A feature allowing users to add items to a watchlist to keep track of auctions they are interested in without placing a bid immediately.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service">
               <span class="fa fa-file"></span>
               <h3>Auction Analytics and Reports</h3>
               <p>Detailed analytics and reporting for sellers, including bid history, views, and final sale price. Buyers can also see their bidding history and success rate.</p>
            </div>
         </div>
         <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="service last">
               <span class="fa-solid fa-phone"></span>
               <h3>Customer Support</h3>
               <p>Comprehensive support options including FAQs, email support, and a help desk to assist users with any issues or questions.</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="site-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-7">
            <img src="{% static 'images/whyChooseUs.jpg' %}" alt="Image" class="img-fluid">
         </div>
         <div class="col-lg-5 pl-lg-5">
            <div class="mb-6">
               <span class="caption">Why Us?</span>
               <h2 class="text-black">Why <strong>Choose Us</strong></h2>
            </div>
            <div class="d-flex feature-icon mb-3">
               <span class="fas fa-shipping-fast"></span>
               <div>
                  <h3>Fast Support</h3>
                  <p>Provides quick assistance through live chat, email, or phone to resolve user issues and answer questions promptly.</p>
               </div>
            </div>
            <div class="d-flex feature-icon mb-3">
               <span class="fa-solid fa-face-smile"></span>
               <div>
                  <h3>Happy Customers</h3>
                  <p>Ensures satisfaction with excellent service, prompt issue resolution, and a user-friendly experience, fostering positive feedback and loyalty.</p>
               </div>
            </div>
            <div class="d-flex feature-icon mb-3">
               <span class="fa-solid fa-clock"></span>
               <div>
                  <h3>24/7 Support</h3>
                  <p>Offers round-the-clock assistance via chat, email, or phone to address user needs and resolve issues anytime.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
