{% load static %}

<!-- Start Footer Section -->
		<footer class="footer-section" style="background-color: #484848">
			<div class="container relative">
				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Auction<span>...</span></a></div>
						<p class="mb-4" style="color: #B8B8B8;">A site used to organize and hold auctions. The main principle of all auctions is the competition between bidders. During an auction, potential buyers bid on the goods of their interest. The winner is the potential buyer offering the highest bid.</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-8 col-sm-8 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">Home</a></li>
									<li><a href="#">Products</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-8 col-sm-8 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>

								</ul>
							</div>

							<div class="col-8 col-sm-8 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">Help Center</a></li>
									<li><a href="#">Register</a></li>
									<li><a href="#">Login</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>


						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->
